/* .aboutme {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.aboutme h1 {
    color: #333;
    font-size: 2em;
}

.aboutme p {
    color: #666;
    font-size: 1.2em;
} */
