.FAQ {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.FAQ h1 {
    font-size: 2em;
}

.FAQ p {
    font-size: 1.2em;
}
.FAQgif{
    height: 500px;
    width: 100%;
    position: relative;
    border-radius: 20%;
}