.Whatido {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.Whatido h1 {
    color: #333;
    font-size: 2em;
}

.Whatido p {
    color: #666;
    font-size: 1.2em;
}
.card{
    background-color: #dbeafe;
    padding: 20px;
}
.card:hover {
    background-color:#c7bfed;
    transition-timing-function: ease-in-out;
    border-radius: 20px;
}