@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #dbeafc;
    --text-color: #1a1d23;
    --skill-background: #c7bfed;
    --formInput-color: #f7f7f7;
    --cardGroup-background: white;
    --formInput-background: #111827;
    --aniFont-color:#df0560;
}

[data-theme="dark"] {
    --background-color: #111827;
    --text-color: #f7f7f7;
    --skill-background: #292850;
    --formInput-color: #1a1d23;
    --formInput-background: #dbeafc;
    --cardGroup-background: #292850;
    --aniFont-color:#776fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.Skill {
    background-color: var(--skill-background);
}

.cardGroup {
    background-color: var(--cardGroup-background);
}

.projectGroup {
    background-color: var(--cardGroup-background);
    color: var(--text-color);
}

.formInput {
    background-color: var(--formInput-background);
    color: var(--formInput-color);
}
.aniFont{
    color:var(--aniFont-color) ;
}